

.image-card {
   
    width: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
  
  .image-container {
    position: relative;
    overflow: hidden;
    transition: transform 0.8s ease;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .details {
    background-color: rgba(137, 137, 137, 0.562);
    color: white;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 30%;
    transition: top 0.8s ease;
  }
  
  .image-card:hover .image-container {
    transform: scale(1.1);
  }
  
  .image-card:hover .details {
    top: 0;
  }
  