/* Loading.css */

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(185, 185, 185, 0.8); /* Add a semi-transparent background */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 999; /* Adjust the z-index to make sure it's on top of other elements */
  }
  